body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: #8B0000;
}

.left-hand {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

#logo {
    width: 100px;
}

h1 {
    margin-left: 50px;
    font-size: 36px;
    font-weight: bold;
}

.right-hand {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

button[type="button"] {
    background-color: transparent;
    font-size: 24px;
    color: grey;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.search form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 200px;
}
.content {
    padding: 20px 50px;
}

table {
    width: 100%;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #A0522D;
    color: white;
}

th, td {
    height: 40px;
    font-size: 16px;
    padding: 12px;
    text-align: left;
}


td:hover {
    height: 50px; 
    transition: height 0.3s ease;
}


tbody tr:hover {
    background-color: #f1f1f1;
}
